alias ip="ifconfig | grep -B3 active | grep 'inet ' | awk '{print \$2}'"
alias v="mvim"
alias lsa="ls -lha"
alias itm="itermocil"
alias rss="rsense start --port 65535"
alias xxbox='xing xingbox'
alias be="bundle exec"
alias work="cd /Users/hoang.nguyen/Projects/Xing"
alias cm= commit -m
alias ca= commit -a --verbose
alias c= commit --verbose
alias cm= commit -a - m
alias ac="git add . && git commit -a"
alias gt="gittower"
alias ygo="/Applications/TDOANE.app/Contents/MacOS/startwine ; exit;"
alias speedtest='speedtest_cli'
alias ts="tig status"
alias tl="tig"
alias samsung="cd /Volumes/Samsung\ T3/.config/"

alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup"
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias week='date +%V'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print  }'"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

alias doc="docker-compose"
alias docker-spec='docker-compose run web bundle exec rspec'

### git release aliases ###
# List ordered tags with comments
alias gtags='git for-each-ref --sort="-*authordate" --format="%(tag) - %(taggerdate:short)%0a%(contents)" refs/tags | less'
# List merge commits
alias glrelease='git log --oneline --grep=Merge --since "2 weeks ago"'
# Change the last tags comment (before pushing)
alias gretag='git for-each-ref --sort="-*authordate" --format="# %(tag)%0a%(contents)" refs/tags --count=1 | vipe | git tag $(git describe --abbrev=0 --tags) -f -F -'

alias drw="doc run web"


